.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}

.title {
  font-size: 5em;
  color: #213547;
  text-align: center;
}
.to {
  margin-left: 500px;
}
