.link {
  font-size: 16px;
  transition: transform 0.2s ease-in-out;
  display: inline-block;
  color: #213547;
}

.link:hover {
  color: rgb(92, 92, 224);
  transform: scale(1.2);
}
.active {
  text-decoration: underline;
}
.mainNavigation {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  margin-left: auto;
  gap: 30px;
}
.navList {
  display: flex;
  flex-direction: row;

  gap: 30px;
  list-style: none;
}
